<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="header">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-left">
            <span class="title">Bookers</span>
       <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="nav-item">
         <%= link_to user_path(current_user),class: "btn btn-link" do%>
         <i class="fas fa-home"></i>Home</span>
         <% end %>
        </li>
       <li class="nav-item">
         <%= link_to users_path, class: "btn btn-link" do%>
         <i class="fas fa-users"></i>Users</span>
         <% end %>
       </li>
       <li class="nav-item">
         <%= link_to books_path, class: "btn btn-link" do%>
         <i class="fas fa-book-open"></i>Books</span>
         <% end %>
       </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete,class: "btn btn-link" do %>
          <i class="fas fa-sign-out-alt"></i>Log out</span>
          <% end %>
        </li>
        <% else %>
           <li class="nav-item">
            <%= link_to root_path, class:"btn btn-link" do %>
            <i class="fas fa-home"></i>Home</span>
            <% end %>
           </li>
            <li class="nav-item">
            <%= link_to home_about_path, class: 'btn btn-link' do %>
            <i class="fas fa-link"></i>About</span>
            <% end %>
            </li>
            <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'btn btn-link' do %>
            <i class="fas fa-user-plus"></i>Sign up</span>
            <% end %>
            </li>
            <li class="nav-item">
            <%= link_to new_user_session_path, class: 'btn btn-link' do %>
            <i class="fas fa-sign-in-alt"></i>Log in</span>
            <% end %>
            </li>
         <% end %>
         </ul>
       </div>
     </div>
    </nav>
  </header>
 <div class="body">
  <p class="notice"><%= notice %></p>

      <%= yield %>


  <footer>
    <p class="text-center"> CopyRight Infratop.inc</p>
  </footer>
</body>